@using WebBuilder.ViewModel.Account
@model IEnumerable<ApplicationUserViewModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationservice

@{
    ViewBag.Title = "All Users";
}

<div class="container">
    <h1>All Users</h1>

    @if (Model.Any())
    {
        <div class="row">
            <form class="col-6" id="searchForm" asp-controller="Administration" asp-action="Search" method="get">
                <p>
                    <label class="custom-control">Find By: </label>
                    <select name="searchList" id="searchList" class="form-control mb-1" style="border:1px solid #cccccc">
                        <option value="">--Select--</option>
                        <option value="Name">Name</option>
                        <option value="Email">Email</option>
                        <option value="Id">ID</option>
                        <option value="PhoneNumber">PhoneNumber</option>
                        <option value="Country">Country</option>
                        <option value="State">State</option>
                        <option value="City">City</option>
                    </select>
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="Name" placeholder="Search By Name" name="FullName">
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="Email" placeholder="Search By Email" name="Email">
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="Id" placeholder="Search By Id" name="Id">
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="PhoneNumber" placeholder="Search By Phone Number" name="PhoneNumber">
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="Country" placeholder="Search By Phone Number" name="PhoneNumber">
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="State" placeholder="Search By Phone Number" name="PhoneNumber">
                    <input type="text" class="form-control search" autocomplete="off" style="display: none;" id="City" placeholder="Search By Phone Number" name="PhoneNumber">

                    <input id="submit" class="btn btn-primary mt-1" disabled type="submit" value="Filter" />
                </p>
            </form>
            <form class="col-6" id="sortForm" asp-controller="Administration" asp-action="Sort" method="get">
                <p>
                    <label>Sort By: </label>
                    <select name="sortBy" class="form-control mb-1" style="border:1px solid #cccccc">
                        <option value="Name">Full Name</option>
                        <option value="Email">Email</option>
                        <option value="Id">ID</option>
                        <option value="PhoneNumber">Phone Number</option>
                        <option value="Country">Country</option>
                        <option value="State">State</option>
                        <option value="State">City</option>
                    </select>
                    <select name="order" class="form-control mb-1" style="border:1px solid #cccccc">
                        <option value="Asc" selected>Ascending Order</option>
                        <option value="Des">Descending Order</option>
                    </select>
                    <input class="btn btn-primary" type="submit" value="Filter" />
                </p>
            </form>
        </div>

        if (User.IsInRole("Super Admin"))
        {
            <a asp-action="Register" asp-controller="Account"
               class="btn btn-primary mb-3" style="width:auto">
                Add new user
            </a>
        }

        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading rounded">
                    <h3 class="panel-title font-weight-bold">Users</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><i class="fas fa-filter"></i> Filter</button>
                    </div>
                </div>
                <table class="table table-responsive ">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)" disabled></th>
                            <th><input type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Email)" disabled></th>
                            <th><input type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PhoneNumber)" disabled></th>
                            <th><input type="text" class="form-control" placeholder=" @Html.DisplayNameFor(model => model.Address.Country)" disabled></th>
                            <th><input type="text" class="form-control" placeholder=" @Html.DisplayNameFor(model => model.Address.City)" disabled></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address.City)
                            </td>
                            <td>
                                @if (User.IsInRole("Super Admin"))
                                {
                                    <a asp-controller="Account" asp-action="ChangePassword" asp-route-id="@item.Id"><i class="fas fa-key" title="Change Password"></i></a><span>|</span>
                                    <a asp-controller="Account" asp-action="Profile" asp-route-id="@item.Id"><i class="fas fa-id-badge" title="Details"></i></a><span>|</span>
                                    <a asp-action="Edit" asp-controller="Account"
                                       asp-route-id="@item.Id"><i class="fas fa-edit" title="Edit"></i></a>
                                    @await Html.PartialAsync("~/Views/Shared/Modal.cshtml", item.Id)<span>|</span>
                                    //Should render only if user is admin
                                    <a asp-controller="Company" asp-action="Create" asp-route-userId="@item.Id"><i class="fas fa-list-alt" title="Update Company"></i></a><span>|</span>
                                    <a asp-controller="Category" asp-action="categories" asp-route-userId="@item.Id"><i class="fas fa-list-alt" title="Categories"></i></a><span>|</span>
                                    <a asp-controller="Products" asp-action="Products" asp-route-userId="@item.Id"><i class="fab fa-product-hunt" title="Products"></i></a><span>|</span>

                                }

                            </td>

                        </tr>

                        }
                    </tbody>
                </table>
            </div>
            <nav class="table-responsive">
                <ul class="pagination justify-content-center d-flex flex-wrap">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Administration" asp-action="ListUsers">First</a>
                        </li>
                        <li class="page-item">
                            @{ var pageNo = ViewBag.CurrentPage - 1; }
                            <a class="page-link" asp-controller="Administration" asp-action="ListUsers" asp-route-pageNo="@pageNo">&laquo;</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {

                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="Administration" asp-action="ListUsers" asp-route-pageNo="@i">@i</a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <li class="page-item">
                            @{ var pageNo = ViewBag.CurrentPage + 1; }
                            <a class="page-link" asp-controller="Administration" asp-action="ListUsers" asp-route-pageNo="@pageNo">&raquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Administration" asp-action="ListUsers" asp-route-pageNo="@ViewBag.TotalPages">Last</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

    }
    else
    {
        <div class="card">
            <div class="card-header">
                No users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="Account" asp-action="Register">
                    Add new user
                </a>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var selectedVal;
            $('#searchForm').on('submit', function (event) {
                var searchVal = $("#searchList").find("option:selected").val();
                if (searchVal != null) {
                    if ($('#' + searchVal) == null) {
                        event.preventDefault();
                        alert('Input Field Could not be null');
                    }
                }
                else {
                    event.preventDefault();
                    alert('please select Value to search');
                }
            });
            $("#searchList").change(function () {
                $('#submit').attr("disabled", "false");
                selectedVal = $(this).find("option:selected").val();
                if (selectedVal == null) {
                    $('#submit').attr("disabled", "true");
                    return;
                }
                $("#searchForm :input.search").each(function () {
                    $(this).val("");
                    $(this).hide();
                });
                $('#' + selectedVal).show();
                $("#searchForm :input.search").filter('#searchForm :input[id="' + selectedVal + '"]').on('change keyup keydown', function () {
                    if ($(this).val().length > 0) {
                        $('#submit').attr("disabled", false);
                    }
                    else $('#submit').attr("disabled", true);
                })
            })


        });
    </script>
    <link href="~/css/Table.css" rel="stylesheet" />
    <script src="~/js/Filter.js"></script>
}
