@model IEnumerable<WebBuilder.ViewModel.Companies.CompaniesViewModel>
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "主页   ";
    <meta property="og:title"
          content="Chinese cross-border e-commerce & export trade seller
           Stand-alone station construction platform"
          key="og:title" />
    <meta property="og:url" content="/" key="og:url" />
}

    <div>
        <!-- First page | Landing page -->
        <div class="container ">
            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Logo -->
                <a class="navbar-brand " asp-controller="Home" asp-action="Index"><img src="~/Image/companyLogo.png" height="120" width="200" asp-append-version="true" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active ">
                            <a class="nav-link px-3 py-1  navAnchor" href="#home"
                               style="color:#5653A4; font-size: 15pt; font-family: 'Rowdies', cursive; ">主页</a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link px-3 py-1 navAnchor " href="#demo"
                               style="color:#5653A4; font-size: 15pt; font-family: 'Rowdies', cursive; ">
                                演示版
                            </a>
                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link px-3 py-1 navAnchor " href="#ourServices"
                               style="color:#5653A4; font-size: 15pt; font-family: 'Rowdies', cursive; ">
                                服务
                            </a>
                        </li>

                        <li class="nav-item active ">
                            <a class="nav-link px-3 py-1 navAnchor " href="#aboutUs"
                               style="color:#5653A4; font-size: 15pt; font-family: 'Rowdies', cursive; ">
                                关于我们
                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link px-3 py-1 navAnchor " href="#contactUs"
                               style="color:#5653A4; font-size: 15pt; font-family: 'Rowdies', cursive; ">
                                联系我们
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>

            <div class="row py-3" id="home">
                <!-- Left column -->
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="">
                        <h1 class="text-capitalize mainHeading" style="font-family: 'Rowdies', cursive; color: #486bb4">
                            建立自己的网站
                        </h1>
                        <p class="text-muted my-4" style="
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
              ">
                            支持平台商店产品同步和转移，与主流跨境对接
                            电子商务ERP，实现产品数据同步，并帮助您快速完成转型
                        </p>
                        <a class="btn font-weight-bold text-white shadow-lg" style="
                background-color: #8876b6;
                font-family: sans-serif;
                font-size: 15pt;
                width: 49%;
              " asp-controller="Home" asp-action="contactus">
                            立即连线

                        </a>
                    </div>
                </div>

                <!-- Right column -->
                <div class="col-12 col-md-6 overflow-hidden d-flex justify-content-center align-items-center py-5">
                    <img src="~/Image/main page.gif" alt="" style="width: 100%; height: 100%" />
                </div>
            </div>

        </div>


        <!-- Demo page started -->
        <div class="container " id="demo">
            <div class="row py-3">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center ">
                    <div class="">

                        <h1 class="text-capitalize mainHeading" style="font-family: 'Rowdies', cursive; color: #486BB4;">
                            最好的客户体验与我们共同建立
                        </h1>
                        <p class="text-muted py-4"
                           style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
                            我们的客户服务和敬业度产品功能强大且灵活，可扩展以满足任何业务的需求
                        </p>



                        <!-- Testing -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn font-weight-bold text-white shadow-lg" data-toggle="modal"
                                data-target="#exampleModalCenter"
                                style="background-color: #8876B6; font-family: sans-serif; font-size: 15pt; width:49%;">
                            观看演示

                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle"
                                            style="font-family: 'Rowdies',cursive; color: #486BB4;">
                                            讲解
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <video src="~/Image/bandicam-2020-11-02-00-11-38-711-bhvihjgb-zj0g_86cUnb6l_B5lx.mp4" controls
                                               style="width: 100%; height: 100%;" id="video"></video>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn text-white" data-dismiss="modal"
                                                style="background-color: #8876B6; font-family: sans-serif;">
                                            关
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testing end -->



                    </div>





                </div>





                <!-- Right column -->
                <div class="col-12 col-md-6 overflow-hidden d-flex justify-content-center align-items-center ">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/9a47c920898071.562fabfe834d1.gif"
                         asp-append-version="true" alt="" style="width: 100%;height: 100%;">
                </div>
            </div>
        </div>



        <!-- Our services -->
        <div class="container py-5 " id="ourServices">
            <div class="row ">
                <div class="col-12  d-flex justify-content-center align-items-center">
                    <h1 class="mb-5 mainHeading" style=" font-family: 'Rowdies',cursive; color: #486BB4;">
                        我们的服务
                    </h1>

                </div>

                <!-- Card One -->
                <div class="card text-center col-12 col-md-3">
                    <img src="~/Image/card one.gif" asp-append-version="true" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title text-capitalize" style="font-family: 'Rowdies', cursive; color: #486bb4">
                            网站建设者
                        </h5>
                        <p class="card-text text-muted" style="
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
              ">
                            提供免费的跨境电子商务咨询服务。
                        </p>
                    </div>
                </div>

                <!-- Card Two -->
                <div class="card text-center col-12 col-md-3">
                    <img src="~/Image/card two.gif" asp-append-version="true" class="card-img-top pt-5 mt-2" alt="" />
                    <div class="card-body d-flex justify-content-center align-items-center flex-column">
                        <h5 class="card-title" style="font-family:'Rowdies',cursive ; color: #486BB4;">
                            无限的产品
                        </h5>
                        <p class="card-text text-muted"
                           style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
                            产品数量不限，网站流量不限。
                        </p>

                    </div>
                </div>
                <!-- Card Three -->

                <div class="card text-center col-12 col-md-3">
                    <img src="~/Image/card three.gif" asp-append-version="true" class="card-img-top pt-5 mt-2" alt="" />
                    <div class="card-body d-flex justify-content-center align-items-center flex-column">
                        <h5 class="card-title" style="font-family:'Rowdies',cursive ; color: #486BB4;">
                            优化
                        </h5>
                        <p class="card-text text-muted"
                           style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
                            7x24小时一对一独家售后。
                        </p>

                    </div>
                </div>

                <!-- Card Four -->
                <div class="card text-center col-12 col-md-3">
                    <img src="~/Image/card four.gif" asp-append-version="true" class="card-img-top pt-4" alt="" />
                    <div class="card-body d-flex justify-content-center align-items-center flex-column">
                        <h5 class="card-title" style="font-family: 'Rowdies', cursive; color: #486bb4">
                            网络解决方案
                        </h5>
                        <p class="card-text text-muted" style="
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
              ">
                            系统将继续更新模板和任意调用。
                        </p>
                    </div>
                </div>

            </div>
        </div>





        <!-- About Us -->
        <div class="container pt-4" id="aboutUs">
            <div class="row ">
                <div class="col-12  d-flex justify-content-center align-items-center">
                    <h1 class="mb-5 mainHeading" style=" font-family: 'Rowdies',cursive; color: #486BB4;">
                        关于我们
                    </h1>

                </div>
            </div>


            <div class="row" id="home">
                <!-- Left column -->
                <div class="col-12 col-md-6  d-flex justify-content-center align-items-center ">
                    <div class="">

                        <h1 class=" text-capitalize mainHeading" style="font-family: 'Rowdies', cursive; color: #486BB4;">
                            建立信任是我们的前提。
                        </h1>
                        <p class="text-muted my-4"
                           style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
                            团队将与客户沟通需求并提供专业的项目意见。在评估需求，建设周期和价格之后，我们
                            最终将为客户提供完整的定制开发解决方案。
                        </p>

                        <a asp-controller="Home" asp-action="aboutus" class="btn font-weight-bold shadow-lg"
                           style="color: #8876B6; font-family: sans-serif; font-size: 15pt; border: 2px solid #8876B6 !important; width: 49%;">
                            阅读更多

                        </a>
                    </div>
                </div>



                <!-- Right column -->
                <div class="col-12 pt-4 py-md-0 col-md-6 overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="~/Image/about-us.png" alt="" style="width: 100%;height: 100%;">
                </div>
            </div>






        </div>

        <!-- Footer -->
        <div class="container-fluid py-4" id="contactUs" style="background-image: url(/Image/contact.png); background-size:cover; background-position: right; background-repeat:no-repeat; background-color: #CAD7EE; color: #486BB4 !important">
            <div class="row  d-flex justify-content-start align-items-center">

                <!-- Contact us Column -->
                <div class="col-md-6 col-10  text-center pt-0 mt-0">
                    <h1 style="font-family: 'Rowdies',cursive;" class="text-muted">
                        联系我们
                    </h1>
                    @{ string email = null;
                        email = Configuration["Email"] != null ? @Configuration["Email"] : "85575687@qq.com";

                        string phone = null;
                        phone = Configuration["Phone"] != null ? @Configuration["Phone"] : "18101078787";
                    }
                    <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #fff">
                        <p>
                            电子邮件 : @email
                        </p>
                        <p>电话: @phone</p>
                        <p> <a asp-controller="Home" asp-action="contactus" class="text-decoration-none ">  现在连接</a></p>
                    </span>
                </div>


            </div>

        </div>



        @*<!-- Footer -->
        <div class="container-fluid py-4 " id="contactUs" style="background-color: #CAD7EE; color: #486BB4 !important;">
            <div class="row  d-flex justify-content-center align-items-center">
                <!-- First column -->
                <div class="col-md-3 col-10 pb-4 text-center">
                    <h1 style="font-family: 'Rowdies',cursive;">Connect Us</h1>
                    <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        <a href="#" class="text-decoration-none ">
                            <i class="fab fa-facebook px-2 text-dark" style="font-size: 2rem;"></i>
                        </a>
                        <a href="#" class="text-decoration-none ">
                            <i class="fab fa-instagram px-2  text-dark" style="font-size: 2rem;"></i>
                        </a>
                        <a href="#" class="text-decoration-none ">
                            <i class="fab fa-whatsapp px-2  text-dark" style="font-size: 2rem;"></i>
                        </a>
                        <a href="#" class="text-decoration-none ">
                            <i class="fab fa-twitter px-2  text-dark" style="font-size: 2rem;"></i>
                        </a>
                    </span>
                </div>
                <!-- Seocond Column -->
                <div class="col-md-3 col-10  text-center">
                    <h1 style="font-family: 'Rowdies',cursive;">北京聚盈科技有限公司</h1>
                    <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        <p>© All Rights Reserved.</p>

                        <p>POWERED BY 北京聚盈科技有限公司 </p>
                    </span>
                </div>
                <!-- Third Column -->
                <div class="col-md-3 col-10  text-center">
                    <h1 style="font-family: 'Rowdies',cursive;">Contact Us</h1>
                    @{ string email = null;
                        email = Configuration["Email"] != null ? @Configuration["Email"] : "85575687@qq.com";

                        string phone = null;
                        phone = Configuration["Phone"] != null ? @Configuration["Phone"] : "18101078787 ";
                    }
                    <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        <p> Email: @email</p>
                        <p>Phone:@phone</p>
                        <p> <a asp-controller="Home" asp-action="contactus" class="text-decoration-none"> Connect now </a></p>
                    </span>
                </div>

            </div>

        </div>*@
    </div>
@section Scripts{
    <link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">
    <link href="~/css/homePage.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#exampleModalCenter').on('hidden.bs.modal', function () {
                stopVideo();
            });
            $('#exampleModalCenter').on('shown.bs.modal', function (e) {
                playVideo();
            })
        });
        function stopVideo() {
            var vid = document.getElementById("video");
            vid.pause();
        }

    </script>
}