@model IEnumerable<WebBuilder.ViewModel.Companies.CompaniesViewModel>

@{
    ViewData["Title"] = "Brands";
}

<section class="jumbotron text-center text-light" style="background-image:url('/Image/bg.jpg'); margin-left: calc(-50vw + 50% - 8px);  width:100vw;">
    <div>
        <h1 class="jumbotron-heading">
            所有品牌的
        </h1>
    </div>
    <p>
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="Register"
           asp-controller="Account">
            注册新品牌
        </a>
    </p>
</section>
<div class="container">
    @if (Model.Any())
    {
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading rounded">
                    <h3 class="panel-title font-weight-bold">
                        品牌品牌
                    </h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><i class="fas fa-filter"></i> Filter</button>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>

                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="#" disabled></th>
                            <th><input type="text" class="form-control" placeholder="名称" disabled></th>
                            <th><input type="text" class="form-control" placeholder="公司电邮" disabled></th>
                            <th><input type="text" class="form-control" placeholder="公司电话" disabled></th>
                            <th><input type="text" class="form-control" placeholder="所有者" disabled></th>
                            <th><input type="text" class="form-control" placeholder="加盟日期" disabled></th>
                            <th><input type="text" class="form-control" placeholder="类别总数" disabled></th>
                            <th><input type="text" class="form-control" placeholder="产品总数" disabled></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @{var ind = 0;}
                        @foreach (var item in Model)
                        {
                            ind++;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => ind)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyPhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyOwnerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCategories)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalProducts)
                                </td>

                                <td class="d-flex flex-row flex-nowrap justify-content-around">
                                    @if (User.IsInRole("Super Admin"))
                                    {

                                    <a asp-controller="Products" asp-action="ListProducts" asp-route-companyId="@item.id">
                                        列出产品
                                    </a>

                                        <a asp-controller="Category" asp-action="Categories" asp-route-userId="@item.CompanyOwner"><i class="far fa-edit" title="分类目录"></i></a><span>|</span>
                                        <a asp-action="Details" asp-route-name="@item.CompanyName"><i class="fas fa-info-circle" title="细节"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.id"><i class="far fa-edit" title="编辑"></i></a><span>|</span>
                                        @await Html.PartialAsync("~/Views/Shared/Modal.cshtml", item.id)<span>|</span>
                                    }


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                尚未注册品牌
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    使用下面的按钮添加新品牌
                </h5>
                <a class="btn btn-primary mb-3" style="width:auto" asp-action="Register"
                   asp-controller="Account">
                    建立新品牌
                </a>
            </div>
        </div>
    }
</div>
@section Scripts{
    <link href="~/css/Table.css" rel="stylesheet" />
    <script src="~/js/Filter.js"></script>
}




